body {
  margin: 0;
  margin-right: 10px;
  background-color: #f9feff;
  font-family: "Lato", Helvetica;
}
html {
  overflow-y: scroll;
}
a {
  text-decoration: none;
  color: black;
}
.main-container {
  margin-left: 10vw;
}
.menu {
  margin: 15px;
  margin-top: 0px;
  text-transform: capitalize;
  position: fixed;
  top: 0px;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  width: 100vh;
  display: flex;
  justify-content: space-around;
}
.menu-item {
}
.parallax-outer {
  margin: 0;
}
.news {
  margin-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
}
.newsPost {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.newsPost .text-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5vw;
  margin-top: 5vh;
  z-index: 2;
  background-color: #f9feff;
  width: 330px;
  height: 200px;
  max-width: 82vw;
  border: solid 4px black;
  margin-right: 30%;
  /* TODO TODO perform this transfor programattically in news.js cause mobile  */
}
.newsPost .image-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: -1;
  width: 800px;
}
#veronica {
  max-width: 45vw;
  font-size: 8vw;
  font-family: "Lato", Helvetica;
  color: rgb(255, 255, 255);
  text-shadow: 0px 20px 15.52px rgba(7, 26, 1, 0.05);
  line-height: 7.5vw;
  z-index: 2;
  color: #ff9600;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.03em;
  -webkit-text-stroke-color: c;
  padding-left: 0.5em;
  margin: 0;
  text-transform: uppercase;
}
#veronica2 {
  max-width: 45vw;
  font-size: 8vw;
  font-family: "Lato", Helvetica;
  color: rgb(255, 255, 255);
  text-shadow: 0px 20px 15.52px rgba(7, 26, 1, 0.05);
  line-height: 7.5vw;
  z-index: 3;
  color: #ff9600;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.03em;
  -webkit-text-stroke-color: c;
  padding-left: 0.5em;
  margin: 0;
  text-transform: uppercase;
}
.CHIDREN_OF_BLOGPOST {
  top: 0;
  right: 0;
  left: 20vw;
  position: absolute;
}
